/*Footer*/
footer {
	clear:both;
	padding:10px 0;
	text-align:center;
	margin-top:10px;
	border-top:solid 1px #ebebeb;
}

span.copy-right {
	font-size:1em;
	letter-spacing:0.25em;
}

.button {
	margin: 10px 0 10px 0;
	padding:5px 10px;;
	color:#fff;
	background-color:#666;
	border:solid 1px #000;
}
